<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new note</title>
</head>
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <form action="/submit" method="post">
                    <div class="mb-3">
                        <label for="noteTitle" class="form-label">note Title</label>
                        <input id="noteTitle" class="form-control" type="text" name="noteTitle">
                    </div>
                    <div class="mb-3">
                        <label for="noteDescription" class="form-label">note Description</label>
                        <input id="noteDescription" class="form-control" name="noteDescription" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="noteBody" class="form-label">note Body</label>
                        <textarea id="noteBody" class="form-control" name="noteBody"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>